<!-- Lịch sử mua hàng -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2
        class="text-center text-primary object-fit-sm-contain rounded mt-5 d-inline-flex p-2"
      >
        Lịch sử mua hàng
      </h2>
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>STT</th>
            <th>Mã đơn hàng</th>
            <th>Trạng thái</th>
            <th>Thành tiền</th>
            <th>Ngày mua hàng</th>
            <th>Ngày giao hàng</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>1</td>
            <td>ASD229</td>
            <td>Đang giao hàng</td>
            <td>3 triệu 2</td>
            <td>29-07-2000</td>
            <td>29-07-2023</td>
            <td>
              <button class="btn btn-primary" routerLink="/detail-checkout">Chi tiết</button>
              <button class="btn btn-primary ml-2">Hủy</button>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr class="text-center">
            <td>1</td>
            <td>ASD229</td>
            <td>Đang giao hàng</td>
            <td>3 triệu 2</td>
            <td>29-07-2000</td>
            <td>29-07-2023</td>
            <td>
              <button class="btn btn-primary" routerLink="/detail-checkout">Chi tiết</button>
              <button class="btn btn-primary ml-2">Hủy</button>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr class="text-center">
            <td>1</td>
            <td>ASD229</td>
            <td>Đang giao hàng</td>
            <td>3 triệu 2</td>
            <td>29-07-2000</td>
            <td>29-07-2023</td>
            <td>
              <button class="btn btn-primary" routerLink="/detail-checkout">Chi tiết</button>
              <button class="btn btn-primary ml-2">Hủy</button>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr class="text-center">
            <td>1</td>
            <td>ASD229</td>
            <td>Đang giao hàng</td>
            <td>3 triệu 2</td>
            <td>29-07-2000</td>
            <td>29-07-2023</td>
            <td>
              <button class="btn btn-primary" routerLink="/detail-checkout">Chi tiết</button>
              <button class="btn btn-primary ml-2">Hủy</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
