<!-- Lịch sử mua hàng -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2
        class="text-center text-primary object-fit-sm-contain rounded mt-5 d-inline-flex p-2"
      >
        Lịch sử mua hàng
      </h2>
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>STT</th>
            <th>Mã đơn hàng</th>
            <th>Trạng thái</th>
            <th>Thành tiền</th>
            <th>Ngày mua hàng</th>
            <th>Phương Thức Thanh Toán</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody *ngFor="let order of orderArray; let i = index">
          <tr class="text-center">
            <td>{{ i + 1 }}</td>
            <td>#{{ order["id"] }}</td>
            <td *ngIf="order['status'] == 0">Chưa xác nhận</td>
            <td *ngIf="order['status'] == 1">Đã xác nhận</td>
            <td *ngIf="order['status'] == 2">Đã hủy</td>
            <td *ngIf="order['status'] == 3">Đang giao hàng</td>
            <td *ngIf="order['status'] == 4">Giao hàng thành công</td>
            <td>
              {{ order["total"] | currency : "VND" : "symbol" : "0.3-3" }}
            </td>
            <td>{{ order["created_at"] | date : "d-M-yyyy h:mm a" }}</td>
            <td>{{ order["pttt"] }}</td>
            <td>
              <button
                class="btn btn-primary"
                (click)="getOrderID(order['id'])"
                routerLink="/detail-checkout"
              >
                Chi tiết
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
