<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 250px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Thanh toán</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="">Trang chủ</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Thanh toán</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Checkout Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <form #frm2="ngForm">
        <div class="mb-4">
          <h4 class="font-weight-semi-bold mb-4">Địa chỉ đơn hàng</h4>
          <h6 class="text-danger p-3">* là bắt buộc phải nhập</h6>
          <div class="row">
            <div class="col-md-6 form-group">
              <label>Tên *</label>
              <input
                [(ngModel)]="ten"
                required
                minlength="2"
                maxlength="10"
                name="ten"
                #loiten="ngModel"
                class="form-control"
                type="text"
                placeholder="Nhập tên"
              />
              <em
                *ngIf="
                  loiten.errors?.['minlength'] || loiten.errors?.['maxlength']
                "
                class="text-danger"
              >
                Tên phải từ 2 đến 10 ký tự
              </em>
            </div>
            <div class="col-md-6 form-group">
              <label>Họ *</label>
              <input
                [(ngModel)]="ho"
                required
                minlength="2"
                maxlength="5"
                name="ho"
                #loiho="ngModel"
                class="form-control"
                type="text"
                placeholder="Nhập họ"
              />
              <em
                *ngIf="
                  loiho.errors?.['minlength'] || loiho.errors?.['maxlength']
                "
                class="text-danger"
              >
                Họ phải từ 2 đến 5 ký tự
              </em>
            </div>
            <div class="col-md-6 form-group">
              <label>E-mail *</label>
              <input
                [(ngModel)]="email"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                name="email"
                #loiemail="ngModel"
                class="form-control"
                type="text"
                placeholder="Nhập email"
              />
              <em *ngIf="loiemail.errors?.['pattern']" class="text-danger">
                Email không đúng định dạng, phải có @gmail.com <br />
                Ví dụ: admin@gmail.com
              </em>
            </div>
            <div class="col-md-6 form-group">
              <label>Số điện thoại *</label>
              <input
                [(ngModel)]="sdt"
                required
                pattern="((09|03|07|08|05)+([0-9]{8})\b)"
                name="sdt"
                #loisdt="ngModel"
                class="form-control"
                type="text"
                placeholder="Nhập số điện thoại"
              />
              <em *ngIf="loisdt.errors?.['pattern']" class="text-danger">
                Số điện thoại không đúng định dạng, phải có 10 số và bắt đầu
                bằng 09, 03, 07, 08, 05
              </em>
            </div>
            <div class="col-md-6 form-group">
              <label>Địa chỉ *</label>
              <input
                [(ngModel)]="diachi"
                required
                minlength="10"
                maxlength="50"
                name="diachi"
                #loidc="ngModel"
                class="form-control"
                type="text"
                placeholder="Nhập địa chỉ"
              />
              <em
                *ngIf="
                  loidc.errors?.['minlength'] || loidc.errors?.['maxlength']
                "
                class="text-danger"
              >
                Địa chỉ phải từ 10 đến 50 ký tự
              </em>
            </div>
            <div class="col-md-6 form-group">
              <label>Thành phố *</label>
              <input
                [(ngModel)]="thanhpho"
                required
                minlength="2"
                maxlength="5"
                name="thanhpho"
                #loitp="ngModel"
                class="form-control"
                type="text"
                placeholder="Nhập thành phố"
              />
              <em
                *ngIf="
                  loitp.errors?.['minlength'] || loitp.errors?.['maxlength']
                "
                class="text-danger"
              >
                Thành phố phải từ 2 đến 5 ký tự
              </em>
            </div>
            <div class="col-md-6 form-group">
              <label>Ghi chú</label> <br />

              <textarea
                [(ngModel)]="ghichu"
                [ngModelOptions]="{ standalone: true }"
                cols="90"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-4">
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Thanh toán giỏ hàng</h4>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3 pt-1">
            <h6 class="font-weight-medium">Tiền sản phẩm</h6>
            <h6 class="font-weight-medium" *ngIf="sale == 0">
              {{ total | currency : "VND" : "symbol" : "0.3-3" }}
            </h6>
            <h6 class="font-weight-medium" *ngIf="sale != 0">
              {{ total | currency : "VND" : "symbol" : "0.3-3" }}
            </h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Mã giảm giá</h6>
            <h6 class="font-weight-medium" *ngIf="sale != 0">
              {{ total / sale | currency : "VND" : "symbol" : "0.3-3" }}
            </h6>
            <h6 class="font-weight-medium" *ngIf="sale == 0">
              {{ sale | currency : "VND" : "symbol" : "0.3-3" }}
            </h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Phí ship</h6>
            <h6 class="font-weight-medium">
              {{ ship | currency : "VND" : "symbol" : "0.3-3" }}
            </h6>
          </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
          <div class="d-flex justify-content-between mt-2" *ngIf="sale != 0">
            <h5 class="font-weight-bold">Tổng tiền</h5>
            <h5 class="font-weight-bold">
              {{
                total - total / sale + ship
                  | currency : "VND" : "symbol" : "0.3-3"
              }}
            </h5>
          </div>
          <div class="d-flex justify-content-between mt-2" *ngIf="sale == 0">
            <h5 class="font-weight-bold">Tổng tiền</h5>
            <h5 class="font-weight-bold">
              {{ total + ship | currency : "VND" : "symbol" : "0.3-3" }}
            </h5>
          </div>
        </div>
      </div>
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Phương thức thanh toán</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                name="payment"
                id="cod"
                [(ngModel)]="pttt"
                value="Thanh toán khi nhận hàng"
              />
              <label class="custom-control-label" for="cod"
                >Tiền mặt (COD)</label
              >
            </div>
          </div>
          <div class="">
            <div class="custom-control custom-radio">
              <input
                [(ngModel)]="pttt"
                type="radio"
                class="custom-control-input"
                name="payment"
                id="bank"
                value="Chuyển khoản"
              />
              <label class="custom-control-label" for="bank"
                >Chuyển khoản</label
              >
            </div>
          </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
          <button
            class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3"
            (click)="order()"
          >
            Đặt hàng
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Checkout End -->
