<div class="d-flex justify-content-center align-items-center bg-light vh-100">
  <div class="bg-light p-3 rounded w-25">
    <h2>Đăng nhập</h2>
    <form>
      <div class="mb-3">
        <label for="email"><strong>Email</strong></label>
        <input
          [(ngModel)]="email"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="email"
          type="email"
          placeholder="Nhập Email"
          class="form-control rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="password"><strong>Mật khẩu</strong></label>
        <input
          type="password"
          [(ngModel)]="password"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="password"
          placeholder="Enter password"
          class="form-control rounded-0"
        />
      </div>
      <button class="btn btn-primary w-100 rounded-0" (click)="login()">
        Đăng nhập
      </button>
      <p></p>
      <button
        class="btn btn-default border w-100 bg-secondary rounded-0"
        routerLink="/signup"
      >
        Đăng ký?
      </button>
    </form>
  </div>
</div>
