<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 250px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Liên hệ</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="">Trang chủ</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Liên hệ</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Contact Start -->
<div class="container-fluid pt-5">
  <div class="text-center mb-4">
    <h2 class="section-title px-5">
      <span class="px-2">Liên hệ với chúng tôi</span>
    </h2>
  </div>
  <div class="row px-xl-5">
    <div class="col-lg-7 mb-5">
      <div class="contact-form">
        <div id="success"></div>
        <form name="sentMessage" id="contactForm" novalidate="novalidate">
          <div class="control-group" style="margin-bottom: 40px">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Nhập tên"
              required="required"
              data-validation-required-message="Vui lòng nhập tên"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group" style="margin-bottom: 40px">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Nhập Email"
              required="required"
              data-validation-required-message="Vui lòng nhập email"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group" style="margin-bottom: 40px">
            <input
              type="text"
              class="form-control"
              id="subject"
              placeholder="Nhập tiêu đề"
              required="required"
              data-validation-required-message="Vui lòng nhập subject"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group" style="margin-bottom: 40px">
            <textarea
              class="form-control"
              rows="6"
              id="message"
              placeholder="Nhập nội dung"
              required="required"
              data-validation-required-message="Vui lòng nhập nội dung"
            ></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div>
            <button
              class="btn btn-primary py-2 px-4"
              type="submit"
              id="sendMessageButton"
            >
              Gửi
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-5 mb-5">
      <div class="d-flex flex-column mb-3">
        <h5 class="font-weight-semi-bold mb-3">Địa chỉ</h5>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt text-primary mr-3"></i>Công viên phần
          mềm Quang Trung, Q.12, Thành phố Hồ Chí Minh
        </p>
        <p class="mb-2">
          <i class="fa fa-envelope text-primary mr-3"></i>6clothes@gmail.com
        </p>
        <p class="mb-2">
          <i class="fa fa-phone-alt text-primary mr-3"></i>0906 769 986
        </p>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4436613385333!2d106.62782837309709!3d10.853821100844833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bee0b0ef9e5%3A0x5b4da59e47aa97a8!2zQ8O0bmcgVmnDqm4gUGjhuqduIE3hu4FtIFF1YW5nIFRydW5n!5e0!3m2!1svi!2s!4v1696873809564!5m2!1svi!2s"
        width="600"
        height="350"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
<!-- Contact End -->
