<div id="checkout" class="checkout">
  <form class="animate" action="" method="post">
    <div>
      <h3
        style="
          text-align: center;
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
        "
        class="text-primary mt-5"
      >
        Chi tiết đơn hàng
      </h3>
      <div class="container text-center">
        <div class="row justify-content-around">
          <div>
            <div
              class="col border border-dark"
              style="
                font-weight: bolder;
                font-size: 20px;
                background-color: #f5f5f5;
              "
            >
              Địa chỉ giao hàng
            </div>
            <div style="text-align: left">
              <div class="col">
                Họ tên:
                <span style="font-weight: bolder; font-size: 16px"> DNAD </span>
              </div>
              <div class="col">
                Số điện thoại:
                <span style="font-weight: bolder; font-size: 16px">
                  0123456789
                </span>
              </div>
              <div class="col">
                Địa chỉ:
                <span style="font-weight: bolder; font-size: 16px">
                  123 Nguyễn Văn Linh, Đà Nẵng
                </span>
              </div>
            </div>
          </div>

          <div class="align-items-end">
            <div class="ml-5">
              <div
                class="col border border-dark"
                style="
                  font-weight: bolder;
                  font-size: 20px;
                  background-color: #f5f5f5;
                "
              >
                Thông tin đơn hàng
              </div>
              <div style="text-align: left">
                <div class="col">
                  Mã đơn hàng:
                  <span style="font-weight: bolder; font-size: 16px">
                    123456789
                  </span>
                </div>
                <div class="col">
                  Ngày đặt hàng:
                  <span style="font-weight: bolder; font-size: 16px">
                    01/01/2021
                  </span>
                </div>
                <div class="col">
                  Ngày giao hàng dự kiến:
                  <span style="font-weight: bolder; font-size: 16px">
                    01/01/2021
                  </span>
                </div>
                <div class="col">
                  Trạng thái đơn hàng:
                  <span style="font-weight: bolder; font-size: 16px">
                    Đang giao hàng
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="align-items-end">
            <div class="ml-5">
              <div
                class="col border border-dark"
                style="
                  font-weight: bolder;
                  font-size: 20px;
                  background-color: #f5f5f5;
                "
              >
                Phương thức thanh toán
              </div>
              <div style="text-align: left">
                <div class="col">
                  Bạn đã thanh toán bằng:
                  <span style="font-weight: bolder; font-size: 16px">
                    Thẻ tín dụng
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h3
        style="
          text-align: center;
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
        "
        class="text-primary mt-5"
      >
        Sản phẩm đã mua
      </h3>
      <div class="container-fluid pt-5">
        <div class="row px-xl-5">
          <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
              <thead class="bg-secondary text-dark">
                <tr>
                  <th>Hình ảnh</th>
                  <th>Sản phẩm</th>
                  <th>Kích thước | Màu sắc</th>
                  <th>Số lượng</th>
                </tr>
              </thead>
              <tbody class="align-middle">
                <tr>
                  <td>
                    <img
                      src="../../assets/img/aokhoac_2.jpg"
                      alt=""
                      style="width: 100px"
                    />
                  </td>
                  <td class="align-middle">Man Jacket</td>
                  <td class="align-middle">M | Đen</td>
                  <td class="align-middle">30</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-4">
            <div class="card border-secondary mb-5">
              <div class="card-header bg-secondary border-0">
                <h4 class="font-weight-semi-bold m-0">Tổng tiền</h4>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between mb-3 pt-1">
                  <h6 class="font-weight-medium">Tiền sản phẩm</h6>
                  <h6 class="font-weight-medium">2.000.000₫</h6>
                </div>
                <div class="d-flex justify-content-between">
                  <h6 class="font-weight-medium">Phí ship</h6>
                  <h6 class="font-weight-medium">10.000₫</h6>
                </div>
              </div>
              <div class="card-footer border-secondary bg-transparent">
                <div class="d-flex justify-content-between mt-2">
                  <h5 class="font-weight-bold">Tổng tiền</h5>
                  <h5 class="font-weight-bold">2.010.000₫</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
