<body class="">
  <main class="main">
    <div class="content">
      <div class="container-fluid pb-5">
        <div class="row justify-content-md-center">
          <div class="card-wrapper col-12 col-md-4 mt-5">
            <div class="brand text-center mb-3">
              <a href="/"><img class="w-50" src="assets/img/logo.png" /></a>
            </div>
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Lấy lại mật khẩu</h4>
                <form>
                  <div class="form-group">
                    <label for="email">Địa chỉ E-Mail </label>
                    <input
                      [(ngModel)]="email"
                      [ngModelOptions]="{ standalone: true }"
                      type="email"
                      placeholder="Nhập e-mail đã đăng ký"
                      class="form-control rounded-0"
                    />
                  </div>
                  <div class="form-group no-margin">
                    <button
                      (click)="mailSubmit()"
                      class="btn btn-primary btn-block"
                    >
                      Gửi E-Mail
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
