<!-- Topbar Start -->
<div id="body" style="font-size: 22px">
  <div class="container-fluid bg-secondary">
    <div class="row align-items-center py-3 px-xl-5">
      <div class="col-lg-3 d-none d-lg-block">
        <a href="" class="text-decoration-none" routerLink="/">
          <h1 class="m-0 display-5 font-weight-semi-bold">
            <img
              src="assets/img/logo_2.jpg"
              style="
                position: relative;
                left: 80px;
                width: 45%;
                height: 40%;
                border-radius: 100px;
              "
              alt=""
            />
          </h1>
        </a>
      </div>
      <div class="col-lg-6 col-6 text-left">
        <form action>
          <div class="input-group">
            <input
              style="
                border: 2px solid rgb(139, 136, 136);
                border-radius: 20px 0px 0px 20px;
                padding-top: 25px;
                padding-bottom: 25px;
              "
              type="text"
              class="form-control"
              placeholder="Tìm sản phẩm ..."
            />

            <div class="input-group-append">
              <span
                style="border: 2px solid rgb(139, 136, 136); cursor: pointer"
                class="input-group-text bg-transparent text-primary"
              >
                <i
                  class="fa fa-search"
                  style="border-radius: 0px 20px 20px 0px"
                ></i>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-3 col-6 text-right">
        <a
          href=""
          class="btn border border-dark"
          data-toggle="modal"
          data-target="#modalCart"
        >
          <i class="fas fa-heart text-primary"></i>
          <span class="badge">{{ productLikeArray.length }}</span>
        </a>
        <a
          href=""
          class="btn border border-dark"
          type="button"
          data-toggle="modal"
          data-target="#cartModal"
        >
          <i class="fas fa-shopping-cart text-primary"></i>
          <span class="badge" *ngIf="items">{{ items.length }}</span>
          <span class="badge" *ngIf="items == null">0</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Topbar End -->

  <!-- Navbar Start -->
  <div class="container-fluid">
    <div class="row border-top px-xl-5">
      <div class="col-lg-12">
        <nav
          class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0"
        >
          <a href="" class="text-decoration-none d-block d-lg-none">
            <h1 class="m-0 display-5 font-weight-semi-bold">
              <span class="text-primary font-weight-bold border px-3 mr-1"
                >6</span
              >Clothes
            </h1>
          </a>
          <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarCollapse"
          >
            <div class="navbar-nav mr-auto py-0">
              <a
                class="nav-item nav-link"
                style="
                  border-right: 1px solid #d4dcf9;
                  height: 1px;
                  display: flex;
                  justify-items: center;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  top: 15px;
                "
                routerLink="/"
                >Trang chủ
              </a>

              <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  routerLink="/shop"
                  style="
                    border-right: 1px solid #d4dcf9;
                    height: 1px;
                    display: flex;
                    justify-items: center;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    top: 15px;
                  "
                >
                  Thời trang Nam
                </a>
                <div class="dropdown-menu rounded-0 m-0">
                  <a
                    href="#"
                    (click)="search('Áo Nam')"
                    routerLink="/shop"
                    class="dropdown-item"
                    style="font-size: larger"
                    >Áo Nam</a
                  >
                  <a
                    href="#"
                    routerLink="/shop"
                    class="dropdown-item"
                    style="font-size: larger"
                    >Quần Nam</a
                  >
                </div>
              </div>
              <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  routerLink="/shop"
                  style="
                    border-right: 1px solid #d4dcf9;
                    height: 1px;
                    display: flex;
                    justify-items: center;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    top: 15px;
                  "
                >
                  Thời trang Nữ
                </a>
                <div class="dropdown-menu rounded-0 m-0">
                  <a
                    (click)="search('Áo Nữ')"
                    routerLink="/shop"
                    class="dropdown-item"
                    style="font-size: larger"
                    >Áo Nữ</a
                  >
                  <a
                    href="#"
                    routerLink="/shop"
                    class="dropdown-item"
                    style="font-size: larger"
                    >Quần Nữ</a
                  >
                </div>
              </div>

              <a
                href="#"
                class="nav-item nav-link"
                style="
                  border-right: 1px solid #d4dcf9;
                  height: 1px;
                  display: flex;
                  justify-items: center;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  top: 15px;
                "
                routerLink="/shop"
                >Quần Jeans</a
              >
              <a
                href="#"
                class="nav-item nav-link"
                style="
                  border-right: 1px solid #d4dcf9;
                  height: 1px;
                  display: flex;
                  justify-items: center;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  top: 15px;
                "
                routerLink="/shop"
                >Áo khoác</a
              >
              <a
                href="#"
                class="nav-item nav-link"
                style="
                  border-right: 1px solid #d4dcf9;
                  height: 1px;
                  display: flex;
                  justify-items: center;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  top: 15px;
                "
                routerLink="/cart"
                >Giỏ hàng</a
              >
              <a
                href="#"
                class="nav-item nav-link"
                style="
                  border-right: 1px solid #d4dcf9;
                  height: 1px;
                  display: flex;
                  justify-items: center;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  top: 15px;
                "
                routerLink="/checkout"
                >Thanh toán</a
              >
              <a
                href="#"
                class="nav-item nav-link"
                style="
                  border-right: 1px solid #d4dcf9;
                  height: 1px;
                  display: flex;
                  justify-items: center;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  top: 15px;
                "
                routerLink="/introduce"
                >Giới thiệu</a
              >
              <a href="#" class="nav-item nav-link" routerLink="/contact"
                >Liên hệ</a
              >
            </div>
            <div class="navbar-nav ml-auto py-0">
              <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  routerLink="/{{ routerlinksignin }}"
                  >{{ userDisplay }}</a
                >
                <div class="dropdown-menu rounded-0 m-0" *ngIf="token">
                  <a href="#" class="dropdown-item" routerLink="/userdetail"
                    >Thông tin tài khoản</a
                  >
                  <a href="#" class="dropdown-item" routerLink="/history"
                    >Lịch sử mua hàng</a
                  >
                  <a href="#" (click)="logout()" class="dropdown-item"
                    >Đăng Xuất</a
                  >
                </div>
                <div class="dropdown-menu rounded-0 m-0" *ngIf="token == null">
                  <a href="#" routerLink="/signup" class="dropdown-item"
                    >Đăng Ký</a
                  >
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- Navbar End -->
  <article>
    <router-outlet></router-outlet>
  </article>
  <!-- Footer Start -->
  <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
      <div class="col-lg-4 col-md-12 pr-3 pr-xl-5">
        <a href="" class="text-decoration-none">
          <img
            src="assets/img/logo_2.jpg"
            style="
              position: relative;
              bottom: 10px;
              left: 80px;
              width: 50%;
              height: 70%;
              border-radius: 100%;
            "
            alt="logo_footer"
          />
        </a>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-md-4 mb-5">
            <h5 class="font-weight-bold text-dark mb-4">Về chúng tôi</h5>
            <div class="d-flex flex-column justify-content-start">
              <a class="text-dark mb-2" href="#" routerLink="/introduce"
                ><i class="fa fa-angle-right mr-2"></i>Giới thiệu</a
              >
              <a class="text-dark mb-2" href="#" routerLink="/contact"
                ><i class="fa fa-angle-right mr-2"></i>Liên hệ</a
              >
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <h5 class="font-weight-bold text-dark mb-4">Truy cập nhanh</h5>
            <div class="d-flex flex-column justify-content-start">
              <a class="text-dark mb-2" href="#" routerLink="/"
                ><i class="fa fa-angle-right mr-2"></i>Trang chủ</a
              >
              <a class="text-dark mb-2" href="#" routerLink="/shop"
                ><i class="fa fa-angle-right mr-2"></i>Sản Phẩm</a
              >
              <a class="text-dark mb-2" href="#" routerLink="/cart"
                ><i class="fa fa-angle-right mr-2"></i>Giỏ hàng</a
              >
              <a class="text-dark mb-2" href="#" routerLink="/checkout"
                ><i class="fa fa-angle-right mr-2"></i>Thanh toán</a
              >
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <p class="mb-2">
              <i class="fa fa-map-marker-alt text-primary mr-3"></i>Công viên
              phần mềm Quang Trung, Q.12, Thành phố Hồ Chí Minh
            </p>
            <p class="mb-2">
              <i class="fa fa-envelope text-primary mr-3"></i
              >6clothes&#64;gmail.com
            </p>
            <p class="mb-0">
              <i class="fa fa-phone-alt text-primary mr-3"></i>0906 769 986
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <!-- Back to Top -->
  <a href="#" class="btn btn-primary back-to-top"
    ><i class="fa fa-angle-double-up"></i
  ></a>

  <!-- View cart-->
  <div
    class="modal fade"
    id="cartModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fas fa-shopping-cart"></i> Giỏ Hàng
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-image">
            <thead>
              <tr>
                <th class="text-center" scope="col">Hình ảnh</th>
                <th class="text-center" scope="col">Sản phẩm</th>
                <th class="text-center" scope="col">Giá</th>
                <th class="text-center" scope="col">Số lượng</th>
                <th class="text-center" scope="col">Tổng</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of items; let i = index">
              <tr>
                <td class="w-25">
                  <img
                    src="./assets/img/{{ item.image }}"
                    class="img-fluid img-thumbnail w-50"
                    alt="Sheep"
                    style="margin-left: 40px"
                  />
                </td>
                <td class="text-center align-middle">{{ item.name }}</td>
                <td class="text-center align-middle">
                  {{ item.price | currency : "VND" : "symbol" : "0.3-3" }}
                </td>
                <td class="align-middle">
                  <div
                    class="input-group quantity mx-auto"
                    style="width: 100px"
                  >
                    <div class="input-group-btn">
                      <button
                        class="btn btn-sm btn-primary btn-minus"
                        (click)="minusQuantity(i)"
                      >
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control form-control-sm bg-secondary text-center"
                      value="{{ item.quantity }}"
                    />
                    <div class="input-group-btn">
                      <button
                        class="btn btn-sm btn-primary btn-plus"
                        (click)="plusQuantity(i)"
                      >
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="text-center align-middle">
                  {{
                    item.price * item.quantity
                      | currency : "VND" : "symbol" : "0.3-3"
                  }}
                </td>
                <td class="text-center align-middle">
                  <a
                    href="#"
                    class="btn btn-danger btn-sm"
                    (click)="removeItemCart(i)"
                  >
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-end">
            <h5>
              Tổng Tiền:
              <span class="price text-success">{{
                total | currency : "VND" : "symbol" : "0.3-3"
              }}</span>
            </h5>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
          </button>
          <button
            routerLink="/checkout"
            data-dismiss="modal"
            class="btn btn-success"
          >
            Thanh Toán
            <i class="fa-solid fa-credit-card fa-bounce"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal: likeproduct -->
  <div
    class="modal fade"
    id="modalCart"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">
            Sản phẩm yêu thích
            <i
              class="fa-solid fa-heart fa-beat-fade fa-lg"
              style="color: #d4dcf9"
            ></i>
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Hình ảnh</th>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>Xóa</th>
              </tr>
            </thead>
            <tbody *ngFor="let product of productLikeArray">
              <tr>
                <th class="w-25">
                  <img
                    src="./assets/img/{{ product.image }}"
                    class="img-fluid img-thumbnail w-75"
                    alt="Sheep"
                  />
                </th>
                <td
                  (click)="productdetaill(product.product_id)"
                  class="text-center align-middle"
                >
                  {{ product["name"] }}
                </td>
                <td class="text-center align-middle">
                  {{ product["price"] | currency : "VND" : "symbol" : "0.3-3" }}
                </td>
                <td class="text-center align-middle">
                  <button
                    class="btn btn-outline-danger"
                    (click)="removeLike(product.id)"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Footer-->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-primary"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal: likeproduct -->
</div>
