<!-- Introduce Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 250px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Giới thiệu</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="" routerLink="/">Trang chủ</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Giới thiệu</p>
    </div>
  </div>
</div>
<!-- Introduce Header End -->

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row g-0 text-center">
        <div class="col-6 col-md-4">
          <img src="../../assets/img/logo_2.jpg" alt="about us" width="110%" height="50%" style="border-radius: 100%;">
        </div>
        <div class="col-sm-6 col-md-8 text-left pl-5">
          Trong hoạt động sản xuất, kinh doanh, thương mại điện tử đã khẳng định
          được xúc tiến và thúc đẩy sự phát triển của doanh nghiệp. Đối với một
          cửa hàng, việc quảng bá và giới thiệu sản phẩm đến khách hàng nhằm đáp
          ứng nhu cầu mua sắm ngày càng cao của khách hàng là cần thiết. Vì vậy,
          nhóm chúng em đã thực hiện để tài "Xây dựng một Website kinh doanh
          thời trang". <br> <br> Cửa hàng có thể đưa các sản phẩm lên Website của mình và
          quản lý Website đó, khách hàng có thể đặt, mua hàng trực tuyến mà
          không cần đến cửa hàng, cửa hàng sẽ giao sản phẩm đến tận tay khách
          hàng. Website là nơi cửa hàng quảng bá tốt nhất tất cả các sản phẩm
          mình bán ra. Mục tiêu của đề tài: áp dụng các kiến thức đã học để thực
          hiện một dự án hoàn chỉnh nhằm hoàn thiện kỹ năng, đưa vào thực tế,
          chứng minh năng lực thực hiện… <br> <br> Cửa hàng có thể đưa các sản phẩm lên
          Website của mình và quản lý Website đó, khách hàng có thể đặt, mua
          hàng trực tuyến mà không cần đến cửa hàng, cửa hàng sẽ giao sản phẩm
          đến tận tay khách hàng. Website là nơi cửa hàng quảng bá tốt nhất tất
          cả các sản phẩm mình bán ra. <br> <br> Mục tiêu của đề tài: áp dụng các kiến
          thức đã học để thực hiện một dự án hoàn chỉnh nhằm hoàn thiện kỹ năng,
          đưa vào thực tế, chứng minh năng lực thực hiện…
        </div>
      </div>
    </div>
  </div>
</div>
