<body class="bg-secondary">
  <div class="container" style="font-size: larger">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">
                      <h1
                        class="h2 text-gray-900 mb-4 font-weight-bold text-primary"
                      >
                        Tạo tài khoản
                      </h1>
                    </h1>
                  </div>
                  <form class="user">
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input
                          [(ngModel)]="name"
                          [ngModelOptions]="{ standalone: true }"
                          type="text"
                          placeholder="Nhập Tên"
                          class="form-control rounded-0"
                          required
                          minlength="3"
                          #loiname="ngModel"
                        />
                        <em
                          *ngIf="loiname.errors?.['minlength']"
                          class="text-danger"
                        >
                          Name Không để trống và ít nhất 3 kí tự!
                        </em>
                      </div>
                      <div class="col-sm-6">
                        <input
                          [(ngModel)]="email"
                          [ngModelOptions]="{ standalone: true }"
                          type="email"
                          placeholder="Nhập Email"
                          class="form-control rounded-0"
                          required
                          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                          #loiemail="ngModel"
                        />
                        <em
                          *ngIf="loiemail.errors?.['pattern']"
                          class="text-danger"
                        >
                          Email không đúng định dạng
                        </em>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input
                          type="text"
                          [(ngModel)]="address"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Nhập địa chỉ"
                          class="form-control rounded-0"
                          required
                          minlength="3"
                          #loidiachi="ngModel"
                        />

                        <em
                          *ngIf="loidiachi.errors?.['minlength']"
                          class="text-danger"
                        >
                          Địa chỉ không để trống và ít nhất 3 kí tự!
                        </em>
                      </div>
                      <div class="col-sm-6">
                        <div>
                          <input
                            type="text"
                            [(ngModel)]="phone"
                            [ngModelOptions]="{ standalone: true }"
                            placeholder="Nhập số điện thoại"
                            class="form-control rounded-0"
                            required
                            minlength="10"
                            #loisdt="ngModel"
                          />

                          <em
                            *ngIf="loisdt.errors?.['minlength']"
                            class="text-danger"
                          >
                            Số điện thoại không để trống và ít nhất 10 kí tự!
                          </em>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input
                          type="password"
                          [(ngModel)]="password"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Nhập mật khẩu"
                          class="form-control rounded-0"
                          id="password"
                          name="password"
                          required
                          minlength="8"
                          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                          #loipw="ngModel"
                        />
                        <em
                          *ngIf="loipw.errors?.['pattern']"
                          class="text-danger"
                        >
                          Password phải có ít nhất 8 ký tự, trong đó có ít nhất
                          1 chữ hoa, 1 chữ thường và 1 số
                        </em>
                      </div>
                      <div class="col-sm-6">
                        <input
                          type="password"
                          [(ngModel)]="password_confirm"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Nhập lại mật khẩu"
                          class="form-control rounded-0"
                          id="password_confirm"
                          name="password_confirm"
                          required
                          minlength="8"
                          #loipw_confirm="ngModel"
                        />
                        <em
                          *ngIf="loipw_confirm.errors?.['minlength']"
                          class="text-danger"
                        >
                          Xác nhận mật khẩu phải giống với mật khẩu
                        </em>
                      </div>
                    </div>
                    <a
                      href="login.html"
                      class="btn btn-primary btn-user btn-block"
                      (click)="save()"
                    >
                      Tạo tài khoản
                    </a>
                  </form>
                  <hr />
                  <div class="text-center">
                    <h6>
                      Bạn đã có tài khoản rồi ?
                      <a href="#" class="text-primary" routerLink="/signin"
                        >Đăng nhập ngay!</a
                      >
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
