<!-- Shop Detail Start -->
<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 pb-5">
      <div id="product-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner border">
          <div class="carousel-item active">
            <img
              class="w-75 h-50"
              style="margin-left: 90px"
              src="assets/img/{{ ProductArray['image'] }}"
              alt="Image"
            />
          </div>
          <!-- <div class="carousel-item">
            <img
              class="w-100 h-100"
              src="assets/img/product-2.jpg"
              alt="Image"
            />
          </div> -->
        </div>
        <a
          class="carousel-control-prev"
          href="#product-carousel"
          data-slide="prev"
        >
          <i class="fa fa-2x fa-angle-left text-dark"></i>
        </a>
        <a
          class="carousel-control-next"
          href="#product-carousel"
          data-slide="next"
        >
          <i class="fa fa-2x fa-angle-right text-dark"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-7 pb-5">
      <h3 class="font-weight-semi-bold">
        {{ ProductArray["name"] | uppercase }}
      </h3>
      <div class="d-flex mb-3">
        <small class="pt-1" *ngIf="review"
          >Đánh giá ( {{ comments.length }} ) &nbsp;</small
        >
        <br />
        <br />
        <small class="pt-1" *ngIf="!review">Đánh giá ( 0 ) &nbsp;</small>
        <br />
        <div class="text-warning mr-2" *ngIf="review == 1">
          <small class="fas fa-star"></small>
        </div>
        <div class="text-warning mr-2" *ngIf="review == 2">
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
        </div>
        <div class="text-warning mr-2" *ngIf="review == 3">
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
        </div>
        <div class="text-warning mr-2" *ngIf="review == 4">
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
        </div>
        <div class="text-warning mr-2" *ngIf="review == 5">
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
        </div>
      </div>
      <br />
      <h3 class="font-weight-semi-bold mb-4">
        {{ ProductArray["price"] | currency : "VND" : "symbol" : "0.3-3" }}
      </h3>
      <br />
      <div class="d-flex mb-3">
        <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
        <form #frm1="ngForm">
          <div class="custom-control custom-radio custom-control-inline">
            <input
              [(ngModel)]="size"
              type="radio"
              class="custom-control-input"
              id="size-s"
              name="size"
              value="S"
            />
            <label class="custom-control-label" for="size-s">S</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              [(ngModel)]="size"
              type="radio"
              class="custom-control-input"
              id="size-m"
              name="size"
              value="M"
            />
            <label class="custom-control-label" for="size-m">M</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              [(ngModel)]="size"
              type="radio"
              class="custom-control-input"
              id="size-l"
              name="size"
              value="L"
            />
            <label class="custom-control-label" for="size-l">L</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              [(ngModel)]="size"
              type="radio"
              class="custom-control-input"
              id="size-xl"
              name="size"
              value="XL"
            />
            <label class="custom-control-label" for="size-xl">XL</label>
          </div>
        </form>
      </div>
      <br />
      <div class="d-flex mb-4">
        <p class="text-dark font-weight-medium mb-0 mr-3">Màu sắc:</p>
        <form>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              [(ngModel)]="color"
              value="Đen"
              type="radio"
              class="custom-control-input"
              id="color-1"
              name="color"
            />
            <label class="custom-control-label" for="color-1">Đen</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              [(ngModel)]="color"
              value="Trắng"
              type="radio"
              class="custom-control-input"
              id="color-2"
              name="color"
            />
            <label class="custom-control-label" for="color-2">Trắng</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              [(ngModel)]="color"
              value="Đỏ"
              type="radio"
              class="custom-control-input"
              id="color-3"
              name="color"
            />
            <label class="custom-control-label" for="color-3">Đỏ</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              [(ngModel)]="color"
              value="xanh"
              type="radio"
              class="custom-control-input"
              id="color-4"
              name="color"
            />
            <label class="custom-control-label" for="color-4">Xanh</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              [(ngModel)]="color"
              value="Xanh Lá"
              type="radio"
              class="custom-control-input"
              id="color-5"
              name="color"
            />
            <label class="custom-control-label" for="color-5">Xanh lá </label>
          </div>
        </form>
      </div>
      <br />
      <br />
      <div class="d-flex align-items-center mb-4 pt-2">
        <div class="input-group quantity mr-3" style="width: 130px">
          <div class="input-group-btn">
            <button (click)="minusQuantity()" class="btn btn-primary btn-minus">
              <i class="fa fa-minus"></i>
            </button>
          </div>
          <input
            [(ngModel)]="quantity"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            class="form-control bg-secondary text-center"
            id="quantity"
            name="quantity"
          />
          <div class="input-group-btn">
            <button (click)="plusQuantity()" class="btn btn-primary btn-plus">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <button
          (click)="addToCart(ProductArray['id'])"
          class="btn btn-primary px-3"
        >
          <i class="fa fa-shopping-cart mr-1"></i> Thêm giỏ hàng
        </button>
      </div>
      <br />
      <div class="d-flex pt-2">
        <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
        <div class="d-inline-flex">
          <a class="text-dark px-2" href="">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="text-dark px-2" href="">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="text-dark px-2" href="">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a class="text-dark px-2" href="">
            <i class="fab fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-xl-5">
    <div class="col">
      <div class="nav nav-tabs justify-content-center border-secondary mb-4">
        <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1"
          >Mô tả</a
        >
        <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2"
          >Bảng đo kích thước</a
        >
        <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3"
          >Đánh giá ( {{ comments.length }})</a
        >
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-pane-1">
          <h4 class="mb-3">Mô tả sản phẩm</h4>
          <table class="table table-bordered text-center">
            <tbody>
              <tr>
                <th scope="row" style="border-color: black">Tên sản phẩm</th>
                <td style="border-color: black">Quần áo dài</td>
              </tr>
              <tr>
                <th scope="row" style="border-color: black">Mã sản phẩm</th>
                <td style="border-color: black">2208BWB36</td>
              </tr>
              <tr>
                <th scope="row" style="border-color: black">Chất lượng</th>
                <td style="border-color: black">Phi thường</td>
              </tr>
              <tr>
                <th scope="row" class="pt-4" style="border-color: black">
                  Form
                </th>
                <td style="border-color: black">
                  Quần áo dài form suông, dây kéo phía trước,<br />
                  lưng sau có 1 đoạn thun tăng đơ
                </td>
              </tr>
            </tbody>
          </table>

          <h4>Hướng dẫn bảo quản</h4>

          <table
            class="table table-bordered text-center table-bordered-primary"
          >
            <tbody>
              <tr>
                <th scope="row" style="padding-top: 5%; border-color: black">
                  Hướng dẫn bảo quản
                </th>
                <td class="text-left" style="border-color: black">
                  <li>Giặt máy ở nhiệt độ thường</li>
                  <li>Không sử dụng hóa chất tẩy để giặt</li>
                  <li>Phơi trong bóng mát. Sấy khô ở nhiệt độ thấp</li>
                  <li>Giặt với sản phẩm cùng màu</li>
                  <li>Không nên vắt mạnh</li>
                  <li>
                    Ủi ở nhiệt độ trung bình 150 độ C. Không ủi lên chi tiết
                    trang trí
                  </li>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="tab-pane-2">
          <h4 class="mb-3">Bảng xem kích thước</h4>
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th scope="col" style="border-color: black; border-bottom: 0px">
                  Size
                </th>
                <th scope="col" style="border-color: black; border-bottom: 0px">
                  Chiều cao
                </th>
                <th scope="col" style="border-color: black; border-bottom: 0px">
                  Cân nặng
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" style="border-color: black">S</th>
                <td style="border-color: black">1m50 - 1m60</td>
                <td style="border-color: black">45kg - 55kg</td>
              </tr>
              <tr>
                <th scope="row" style="border-color: black">M</th>
                <td style="border-color: black">1m60 - 1m70</td>
                <td style="border-color: black">55kg - 60kg</td>
              </tr>
              <tr>
                <th scope="row" style="border-color: black">L</th>
                <td style="border-color: black">1m70 - 1m80</td>
                <td style="border-color: black">60kg - 65kg</td>
              </tr>
              <tr>
                <th scope="row" style="border-color: black">XL</th>
                <td style="border-color: black">1m80 trở lên"</td>
                <td style="border-color: black">65kg trở lên</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="tab-pane-3">
          <div class="row">
            <div class="col-md-6">
              <h4 class="mb-4">
                {{ comments.length }} Đánh giá cho sản phẩm
                {{ ProductArray["name"] | uppercase }}
              </h4>
              <div class="media mb-4" *ngFor="let comment of comments">
                <img
                  src="assets/img/{{ comment['avatar'] }}"
                  alt="Image"
                  class="img-fluid mr-3 mt-1"
                  style="width: 45px"
                />
                <div class="media-body">
                  <h6>
                    {{ comment["name"]
                    }}<small>
                      <br />
                      <small>
                        {{ comment["created_at"] | date : "d-M-yyyy h:mm a" }}
                      </small></small
                    >
                  </h6>
                  <div
                    class="text-warning mb-2"
                    id="content"
                    *ngIf="comment['rating'] == 1"
                  >
                    <i class="fas fa-star"></i>
                  </div>
                  <div
                    class="text-warning mb-2"
                    id="content"
                    *ngIf="comment['rating'] == 2"
                  >
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <div
                    class="text-warning mb-2"
                    id="content"
                    *ngIf="comment['rating'] == 3"
                  >
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <div
                    class="text-warning mb-2"
                    id="content"
                    *ngIf="comment['rating'] == 4"
                  >
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <div
                    class="text-warning mb-2"
                    id="content"
                    *ngIf="comment['rating'] == 5"
                  >
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <p>
                    {{ comment["messages"] }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="mb-4">Để lại đánh giá</h4>
              <div class="d-flex my-3"></div>
              <form>
                <div class="rating-box">
                  <div class="stars pointer">
                    <i
                      (click)="clickstar()"
                      class="fa-solid fa-star pointer"
                      [(ngModel)]="rating"
                      [ngModelOptions]="{ standalone: false }"
                    ></i>
                    <i
                      class="fa-solid fa-star pointer"
                      [(ngModel)]="rating"
                    ></i>
                    <i
                      class="fa-solid fa-star pointer"
                      [(ngModel)]="rating"
                    ></i>
                    <i
                      class="fa-solid fa-star pointer"
                      [(ngModel)]="rating"
                    ></i>
                    <i
                      class="fa-solid fa-star pointer"
                      [(ngModel)]="rating"
                    ></i>
                  </div>
                </div>
                <div class="form-group">
                  <label for="message">Đánh giá *</label>
                  <textarea
                    [(ngModel)]="messages"
                    [ngModelOptions]="{ standalone: true }"
                    id="message"
                    cols="30"
                    rows="5"
                    class="form-control"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="name">Tên *</label>
                  <input
                    [(ngModel)]="name"
                    [ngModelOptions]="{ standalone: false }"
                    type="text"
                    class="form-control"
                    id="name"
                    value="{{ user['name'] }}"
                    disabled
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email *</label>
                  <input
                    value="{{ user['email'] }}"
                    [ngModelOptions]="{ standalone: false }"
                    [(ngModel)]="email"
                    type="email"
                    class="form-control"
                    id="email"
                    disabled
                  />
                </div>
                <div class="form-group mb-0" *ngIf="token == null">
                  <button
                    value="Để lại đánh giá"
                    class="btn btn-primary px-3"
                    disabled
                  >
                    Gừi đánh giá
                  </button>
                </div>
                <div class="form-group mb-0" *ngIf="token != null">
                  <button
                    (click)="onSubmit()"
                    value="Để lại đánh giá"
                    class="btn btn-primary px-3"
                  >
                    Gừi đánh giá
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shop Detail End -->
